.first{
  margin: 20px 0px;
  background-color: rgb(112, 9, 57);
  color: white;
  padding: 1px;
  align-items: center;
}
.center{
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
}
.contain{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto ;


}
input{
  border-radius: 7px;
  border: 2px solid rgb(112, 9, 57);
  outline: none;
  padding: 2px;
  height: 30px;
  width: 180px;
}
.one{
  width: 35%;
 padding-right: 15%;
  border-right: 6px solid rgb(112, 9, 57);
}
.two{
  width: 42%;
 
 padding-left: 8%;
}
.set{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.set12{
  display: flex;
  align-items: center;
  
  flex-direction: row;
 
}
.set1237{
  margin-right: 42%;
}
.set123{
  margin-right: 150px;
}
.vertical{
  display: flex;
  align-items: left;
  margin-left: -12px;
  flex-direction: column;

}
.vertical1{
  display: flex;
  align-items: left;
  margin-left: -12px;
  flex-direction: row;

}
.gender{
  width: 80px;
  height: auto;
}
.ccom label{
  padding: 30px;
 
}
.set1234{
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
 
}
.right{
background-color: rgb(112, 9, 57);
padding: 12px;
height: 50px;
font-size: 17px;
margin-right: 22px;
color: white;
}
.two h2{
  margin-left: 20%;}
.left{
  background-color: white;
  padding: 12px;
  height: 50px;
  font-size: 17px;
  margin-right: 22px;
  color: rgb(112, 9, 57);
}
td div h5{
  margin-bottom:-22px ;
}
td div{
  margin-bottom:-20px ;
}
table, td, th {
  border: 2px solid rgb(112, 9, 57);
  
}
th{
  color: white;
  background-color: rgb(112, 9, 57);
  padding: 12px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.big{
  padding: 12px;
  width: 70%;
}
.big1{
  margin-top: -16%;
}
.small{
  text-align: center;
  align-items: center;
  padding: 6px;
}
.hori{
  display: flex;
  flex-direction: row;
  align-items: center;
margin-left: 12px;
}
.hori input{
  width: 18px;}